/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    background-image:url(images/colorful_dots_on_black.jpg);
    font-family:Tahoma;
}
body > header{
    width:100%;
    background: linear-gradient(to right,red,red 33.3%,green 33.3%,green 67.7%,blue 67.7%);
    text-align:center;
    color:yellow;
    font-size:46pt;
    font-weight:900;
    height:100px;
}
nav>header{
    font-size:20pt;
    text-align:center;
    text-decoration:underline;
    padding-top:2%;
}
aside{
    float:left;
    margin-left:1%;
    margin-top:2%;
    background-color:white;
    opacity:0.9;
    border-radius:20px;
    width:20%;
    height:20%;
}
    aside ul{
        list-style-type:none;
    }

        aside ul li {
            margin-left:10%;
        }
        aside ul li a{
            text-decoration:none;
            padding:5px;
            margin:5px;
            color:black;
            font-size:15pt;
            display:inline-block;
            padding-left:15px;
        }
        aside ul li:before{
            content: url(images/dot.png);
        }
        aside ul li a:visited{
            color:#80808C;
        }
        aside ul li:nth-of-type(1):hover{
            background-color:red;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
        aside ul li:nth-of-type(2):hover{
            background-color:#FFA500;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
        aside ul li:nth-of-type(3):hover{
            background-color:#FFFF00;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
        aside ul li:nth-of-type(4):hover{
            background-color:#008000;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
        aside ul li:nth-of-type(5):hover{
            background-color:#0000FF;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
        aside ul li:nth-of-type(6):hover{
            background-color:#800080;
            width:85%;
            margin-left:10%;
            border-radius:10px;
            display:inline-block;
        }
section{
    width:72%;
    float:left;
    margin-left:3%;
    margin-top:2%;
}
section article{
    background-color:white;
    margin-bottom:3%;
    border-radius:20px;
    padding:1%;
}
section article:nth-of-type(1) > header{
    font-size:26pt;
    color:white;
    background-color:red;
    padding:1%;
    border-radius:10px;
}
section article:nth-of-type(2) > header{
    font-size:26pt;
    color:black;
    background-color:#FFA500;
    padding:1%;
    border-radius:10px;
}
section article:nth-of-type(3) > header{
    font-size:26pt;
    color:black;
    background-color:#FFFF00;
    padding:1%;
    border-radius:10px;
}
section article:nth-of-type(4) > header{
    font-size:26pt;
    color:white;
    background-color:#008000;
    padding:1%;
    border-radius:10px;
}
section article:nth-of-type(5) > header{
    font-size:26pt;
    color:white;
    background-color:#0000FF;
    padding:1%;
    border-radius:10px;
}
section article:nth-of-type(6) > header{
    font-size:26pt;
    color:white;
    background-color:#800080;
    padding:1%;
    border-radius:10px;
}
section article div{
    padding:1%;
    font-size:16pt;
}
section article div:first-line{
    font-style:italic;
}
section article div:first-letter{
    font-style:italic;
    font-size:60pt;
}
section article footer a{
    padding:1%;
    color:#808080;
    font-size:14pt;
}
section article span{
    font-size:20px;
}
section article span:nth-of-type(1){
    color:#00008B;
} 